#container {
  table-layout: fixed;
  width: 100%;
}

#quote, #entropy, #available {
  width: 100%;
}

#flash {
  height: 20px;
}

td, th {
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

